

<div style="padding-left:100px; padding-right:100px">
<div class="jumbotron">
<h1 style="margin-left:50px">Edytuj typ</h1>
<div style="padding-left:50px; padding-right:50px">

<%= render 'form', type: @type %>

<div style="margin-left:50px"><%= link_to 'Bohaterowie', @type %> |
<%= link_to 'Wróć', types_path %>
</div>

</div>
</div>
</div>