

<div style="padding-left:100px; padding-right:100px">
<div class="jumbotron">

<h1 style="margin-left:50px">Dodaj nowy typ</h1>
<%= render 'form', type: @type %>
<div style="padding-left:50px;">

<%= link_to 'Wróć', types_path %>
</div>

</div>
</div>
