<div class="container">
    <div class="jumbotron">
      <h1>Witaj w aplikacji poświęconej grze League of Legens</h1>
      <p>W aplikacji dostępna jest możliwość dodawania klas i przypisywania bohaterów do nich</p>
      <p>Aby skorzystać z aplikacji należy zalogować się po uprzednim założeniu konta</p>
    </div>
</div>
